src
website
docs
.mvvnw
.git

.settings
.idea
target/classes
target/test-classes
target/maven-status
target/maven-archiver
target/surefire-reports
target/generated-sources
target/generated-test-sources
