name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '16'
          architecture: x64
      - name: Build with Maven
        run: ./mvnw verify
